<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title><%= title %> | Fractionless Boilerplate</title>
  <meta name="description" content="<%= description %>" />
  <meta name="author" content="Bill Patrianakos" />
  <link rel="author" href="/humans.txt" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/css/style.css" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700|Source+Code+Pro' />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css" />

  <!--[if lt IE 9]>
  <script src="/vendor/html5shiv/dist/html5shiv.min.js"></script>
  <script src="/vendor/es5-shim/es5-shim.min.js"></script>
  <script src="/vendor/respond/dest/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <header class="container">
    <nav class="row">
      <div class="col-4">
        <p class="hug h3 light">
          <a href="/" title="Fractionless HTML Boilerplate">Fraction.less</a>
        </p>
      </div>
      <div class="col-8">
        <ul>
          <li><a href="/docs/">Documentation</a></li>
          <li><a href="https://github.com/billpatrianakos/fractionless-boilerplate" target="_blank">Source</a></li>
          <li><a href="https://github.com/billpatrianakos/fractionless-boilerplate/archive/master.zip">Download</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    <div class="row-loose">
      <article class="col-6 push-3">
        <%= content %>
      </article>
      <aside class="col-3 pull-6">
        <h3 class="h4">Table of Contents</h3>
        <%= toc %>
      </aside>
    </div>
  </main>

  <footer class="container">
    <div class="row-loose">
      <div class="col-6">
        <p>
          <small>Copyright &copy; 2011 - <span id="year">2016</span> <a href="http://billpatrianakos.me" target="_blank">Bill Patrianakos</a></small>
        </p>
      </div>
      <div class="col-6 right-align">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1634925156741784";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>

        &nbsp;&nbsp; 

        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Fraction.less Boilerplate is the best front-end framework you've ever seen">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
  </footer>

  <!-- process:[src] //ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- /process -->
  <!-- process:js js/scripts.js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script src="/js/scripts.js"></script>
  <!-- /process -->

</body>
</html>
